@page
@model Login

<h1>Login</h1>

<form method="POST">
    <div class="mb-3">
        <label for="username">Usuário</label>
        <input asp-for="Username" class="form-control" type="text" name="username" />
    </div>

    <div class="mb-3">
        <label for="password">Senha</label>
        <input asp-for="Password" class="form-control" type="text" name="password" />
    </div>

    @if (@Model.Message != null)
    {
        <div class="alert alert-warning" role="alert">
            @Model.Message
        </div>
    }

    <button class="btn btn-primary">Entrar</button>
</form>