:root {
  --header-height: 100px;
  --side-bar-width: 240px;
}

header {
  position: fixed;
  background-color: var(--secondary);
  height: var(--header-height);
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--secondary);
  width: var(--side-bar-width);
  margin-top: var(--header-height);
  height: calc(100% - var(--header-height));
  padding-top: 60px;
  padding-bottom: 20px;
}

aside .links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

aside .links * {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 5px;
  font-size: 20px;
}

aside .link:hover {
  background-color: var(--background);
  color: var(--secondary);
  opacity: 100%;
}

aside .link {
  color: var(--background);
  opacity: 50%;
  text-decoration: none;
}

aside .link a {
  margin-left: 10px;
}

aside .link.active {
  opacity: 100%;
}

aside .btn {
  width: calc(100% - 30px);
}

main {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 20px;
  background-color: white;
  height: calc(100vh - var(--header-height));
  width: calc(100% - var(--side-bar-width));
  margin-left: var(--side-bar-width);
  margin-top: var(--header-height);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

.table tr th,
.table tr td {
  padding: 15px;
}

.table > thead > tr > th {
  color: var(--background);
  background-color: var(--secondary);
}

.table > tbody > tr:nth-child(even) > td {
  background-color: var(--background);
}

.table > tbody > tr > td > a {
  color: var(--secondary);
  font-size: 20px;
}

.pagination > .page-item > .page-link {
  padding-left: 20px;
  padding-right: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input,
select {
  height: 40px;
}

.btn {
  width: 200px;
}
