:root {
  --primary: #feb273;
  --primary-rgb: 254, 178, 115;
  --primary-light: #fbcfab;
  --primary-dark: #fe953f;
  --secondary: #273c70;
  --secondary-rgb: 39, 60, 112;
  --secondary-dark: #3c5cad;
  --danger: #ed4700;
  --danger-dark: #c94107;
  --background: #f8f8f8;
  --succcess: rgb(24, 164, 29);
}

.color-primary {
  color: var(--primary);
}

.color-primary-rgb {
  color: var(--primary-rgb);
}

.color-primary-light {
  color: var(--primary-light);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.color-secondary {
  color: var(--secondary);
}

.color-secondary-rgb {
  color: var(--secondary-rgb);
}

.color-secondary-dark {
  color: var(--secondary-dark);
}

.color-danger {
  color: var(--danger);
}

.color-danger-dark {
  color: var(--danger-dark);
}

.color-background {
  color: var(--background);
}

.color-succcess {
  color: var(--succcess);
}
