html,
body,
.container {
  height: 100%;
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: "Jost", sans-serif;
}
