@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
    @RenderSection("Styles")
}

<aside>
    <a href="/admin/logout">Sair</a>
</aside>
@RenderBody()
@section Scripts {
    <script src="~/lib/chart-js/dist/chart.umd.js"></script>
    @RenderSection("Scripts", required: false)
}