@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" />
    @RenderSection("Styles", required: false)
}

<header></header>
<div class="d-flex">
    <aside>
        <div class="links">
            <a href="/admin/dashboard" class="link">
                <i class="bi bi-graph-up-arrow"></i> Dashboard
            </a>
            <a href="/admin/simulations" class="link">
                <i class="bi bi-list-task"></i> Simulações
            </a>
            <a href="/admin/institutions" class="link">
                <i class="bi bi-book"></i> Institutições
            </a>
            </div>
        <a href="/admin/logout" class="btn btn-primary">Sair</a>
    </aside>
    <main>
        @RenderBody()
    </main>
</div>

@section Scripts {
    <script src="~/lib/chart-js/dist/chart.umd.js"></script>
    <script src="~/js/admin.js"></script>
    @RenderSection("Scripts", required: false)
}